<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.exoplayer.finalmusicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalMusicApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".userAuth.OtpAuth"
            android:exported="false" />
        <activity
            android:name=".userAuth.LoginActivity"
            android:exported="true"></activity>
        <activity android:name=".SupportingActivity" />
        <activity android:name=".chaptersActivity" />
        <activity
            android:name=".MediaPlayer_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FinalMusicApp" />
        <activity
            android:name=".Main"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FinalMusicApp"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newFiles.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:stopWithTask="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="NEXT" />
                <action android:name="PREVIOUS" />
                <action android:name="PLAY" />
                <action android:name="FORWARD" />
                <action android:name="REWIND" />
                <action android:name="CONTINUE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>